.redBg {
    background-color: red;
    border-radius: 5px;
    color: white;
    padding: 5px;
}

.delete {
  background-color: red;
  display: none !important;
}

.task {
  display: none !important;
  color: blue !important;
}
